<p>
    <b> We assist in all areas of HR consultancy, including:</b>
</p>
<p>
    Disciplinary and Grievance | Conflict Resolution | Absence Management

    Performance Management | Mediation | Tribunals | Inductions |

    Health and Safety | Recruitment and Selection | Wage Negotiations |

    TUPE | Bullying and Harassment | Redundancy | Outplacement |

    Contracts | Terminations | Culture Change |Training
</p>
<p>
    <b>We assist in all areas of HR Recruitment, placing generalist and specialist:</b>
</p>
<p>
    HR Directors | HR Business Partners | HR Managers | HR Consultants|

    HR Assistant | HR Business Consultant | HR Officer |
    </p>